resAaA = List(true, true, true)
resAaB = List(true, true, true)
resAaC = List(true, true, true)
resBaA = List(true, true, false)
resBaB = List(true, true, true)
resBaC = List(true, true, true)
resBb1A = List(true, false, false)
resBb1B = List(true, true, true)
resBb1C = List(true, true, true)
resBb2A = List(true, false, false)
resBb2B = List(true, true, true)
resBb2C = List(true, true, true)
resCaA = List(true, true, false)
resCaB = List(true, true, false)
resCaC = List(true, true, true)
resCb1A = List(true, false, false)
resCb1B = List(true, false, false)
resCb1C = List(true, true, true)
resCb2A = List(true, false, false)
resCb2B = List(true, false, false)
resCb2C = List(true, true, true)
resCc1A = List(false, false, false)
resCc1B = List(false, false, false)
resCc1C = List(true, true, true)
resCc2A = List(false, false, false)
resCc2B = List(false, false, false)
resCc2C = List(true, true, true)
resCc3A = List(false, false, false)
resCc3B = List(false, false, false)
resCc3C = List(true, true, true)
resCc4A = List(false, false, false)
resCc4B = List(false, false, false)
resCc4C = List(true, true, true)
