pigeon {
  name = "Pigeon Who"
  age = 30
  friends = Set(new {
    name = "Emma"
    age = 40
    friends = Set()
    address {
      street = "Howdy St"
    }
  })
  address {
    street = "Pigeon St."
  }
}
