pigeon {
  name = "Pigeon Who"
  age = 30
  friends = List(new {
    name = "Emma"
    age = 40
    friends = List()
    address {
      street = "Howdy St"
    }
  }, new {
    name = "Tony"
    age = 40
    friends = List()
    address {
      street = "Howdy St"
    }
  })
  address {
    street = "Pigeon St."
  }
}
