res1 {
  a = "a"
  b = List("b")
  c = List("c")
  d = List("d")
}
res2 {
  a = null
  b = List(null)
  c = null
  d = List(null)
}
res3 = "Expected value of type `List`, but got `null`."
res4 = "Expected value of type `String`, but got `null`."
