res1 {
  xs = Set(1, 2, 3)
  ys = Set(-1, -2, -3)
  zs = Set(-1, -2, -3, -4, -5)
}
res1b {
  ys = Set(-1, -2, -3)
}
res2 = "Expected value of type `Set`, but got type `String`. Value: \"one\""
res3 = "Expected value of type `Int`, but got type `String`. Value: \"one\""
res4 = "Type constraint `this < 0` violated. Value: 1"
res4b = "Type constraint `every((it) -> it is Int(this < 0))` violated. Value: Set(1, 2, 3)"
res5 = "Type constraint `length >= 5` violated. Value: Set(-1, -2, -3)"
