res1 = "Pigeon"
res2 = "Barn Owl"
res3 = "ParrotParrot"
res4 = "PigeonBarn Owl"
res5 = "Barn OwlPigeon"
res6 = "Parrot"
res7 = "Oh Pigeon"
res8 = "Oh Barn Owl"
res9 = "Oh ParrotOh Parrot"
res10 = "Oh PigeonOh Barn Owl"
res11 = "Oh Barn OwlOh Pigeon"
res12 = "Oh Parrot"
res13 = 6
res14 = "abc"
