res1 {
  a = true
  b = null
  c = true
  d = true
}
res2 {
  a = "foo"
  b = "foo"
  c = "longer"
  d = "foo"
}
res3 {
  c = "foo"
}
res4 {
  a = "foo"
  b = List(1, 3.14, 2)
  c = List(1, List(3.12), 2)
  d = true
  e = 5.s
  f = 3.gb
  g = Pair(1, 2)
}
res5 {
  a = List("foo", "bar")
  b = List(3.14, 1)
  c = List()
  d = Map(1, "foo", 2, Set("foo", "bar"), List(1, 2, 3), Set("foo", "bar"))
  e = 1.s
  f = null
  g = null
}
res6 {
  a = Set()
  b = "Pigeon"
}
