res1 = "Expected value of type `String`, but got type `Int`. Value: 42"
res2 = "Expected value of type `Int`, but got type `String`. Value: \"42\""
res3 = "Expected value of type `String`, but got type `Int`. Value: 42"
