# macOS
.DS_STORE
.codebase/

# Gradle
.gradle/
build/
generated/

# IntelliJ
.idea/
!.idea/icon.svg
!.idea/codestyles/
!.idea/inspectionProfiles/
!.idea/runConfigurations/
!.idea/scopes/
!.idea/vcs.xml

# :pkl-core:makeIntelliJAntlrPluginHappy
gen/
PklLexer.tokens

gradle-user-home
profile-out
