# macOS
.DS_STORE

# Gradle
.gradle/
build/
generated/
testgenerated/
runtimeDependencies.txt

# IntelliJ
.idea/
!.idea/icon.svg
!.idea/codestyles/
!.idea/inspectionProfiles/
!.idea/runConfigurations/
!.idea/scopes/
!.idea/vcs.xml

.vscode/

.pkl-lsp/

# :pkl-core:makeIntelliJAntlrPluginHappy
gen/
PklLexer.tokens

.kotlin/
