moduleVar = 3
res1 = 42
res2 = 9
res3 = "e"
res4 = 11
res5 = "x: 5 moduleVar: 3"
res6 = 7
res7 = 8
res8 = 3
res9 = 3
res10 = 13
res11 {
  b = 3
  c {
    d = 99
    x {
      a = 5
      y {
        z = 5
      }
    }
  }
}
