res1 = false
res2 = false
res3 = Set(1, 2)
res4 = Set(1, 2)
res5 = "cat size"
res6 = "dog size"
res7 = "bird size"
res8 = "lion size"
res9 = "turtle size"
res10 = "cat walks"
res11 = "dog walks"
res12 = "bird walks"
res13 = "lion walks"
res14 = "turtle walks"
res15 = "hi"
res16 = "bye"
res17 = "hi"
res18 = "bye"
