examples {
  ["inherits all the imports of project1"] {
    new {
      name = "Swallow"
      favoriteFruit {
        name = "Apple 🍎"
      }
    }
    new {
      name = "Apple 🍎"
    }
    new {
      bird {
        name = "Penguin"
        favoriteFruit {
          name = "Ice Fruit"
        }
      }
    }
  }
}
