res1 = List(1, 2, 3)
res2 = List(List("Pigeon"), List("Barn Owl"))
res3 = Map(42, "Pigeon", 21, "Barn Owl")
res4 = Map("Pigeon", 3.min, "Barn Owl", 5.s)
res5 = Map(null, new {
  name = "Pigeon"
}, new {
  name = "Barn Owl"
}, null)
res6 {
  name = "Other"
}
res7 = 42
