res1 = "abc"
res1b = "abc"
res2 = List("abc")
res2b = List("abc")
res3 = "abc"
res3b = "abc"
res4 = Map("abc", List("def"))
res4b = Map("abc", List("def"))
res5 = false
res5b = false
res6 = null
res6b = null
good {
  res7 = "abc"
  res7b = "abc"
  res8 = List("abc")
  res8b = List("abc")
  res9 = "abc"
  res9b = "abc"
  res10 = Map("abc", List("def"))
  res10b = Map("abc", List("def"))
  res11 = false
  res11b = false
  res12 = null
  res12b = null
}
res13 = "Expected value of type `String`, but got type `Int`. Value: 42"
res13b = "Expected value of type `String`, but got type `Int`. Value: 42"
res14 = "Expected value of type `String`, but got type `Int`. Value: 42"
res14b = "Expected value of type `String`, but got type `Int`. Value: 42"
res15 = "Expected value of type `String`, but got type `Int`. Value: 42"
res15b = "Expected value of type `String`, but got type `Int`. Value: 42"
res16 = "Expected value of type `String`, but got type `Int`. Value: 42"
res16b = "Expected value of type `String`, but got type `Int`. Value: 42"
res17 = "Expected value of type `Int|Boolean`, but got type `String`. Value: \"foo\""
res17b = "Expected value of type `Int|Boolean`, but got type `String`. Value: \"foo\""
res18 = "Expected value of type `Duration`, but got type `DataSize`. Value: 5.mb"
res18b = "Expected value of type `Duration`, but got type `DataSize`. Value: 5.mb"
res19 = "abc"
res20 = Pair(Map("abc", List("def")), Map("abc", List("def")))
