res1 = "a"
res2 = "a"
res3 = "b"
res4 = "b"
res5 = "g"
res6 = "a"
res7 = "a"
res8 = "a"
res9 = "g"
res10 = "a"
res11 = "g"
res12 = "g"
res13 = "q"
res14 = "Tried to read property `prop1` but its value is undefined."
res15 = "Tried to read property `prop2` but its value is undefined."
res16 = "Tried to read property `prop3` but its value is undefined."
