res1 {
  new {
    name = "Pigeon"
    age = 42
  }
}
res2 {
  new {
    name = "Pigeon"
    age = 21
  }
  new {
    name = "Parrot"
    age = 21
  }
}
res3 {
  new {
    name = "Pigeon"
    age = 0
  }
  new {
    name = "Parrot"
    age = 1
  }
}
res4 {
  new {
    name = "Pigeon"
    age = 0
  }
  new {
    name = "Parrot"
    age = 1
  }
  new {
    name = "Barn Owl"
    age = 5
  }
}
