facts {
  ["run microbenchmark"] {
    true
    true
    true
    true
    true
    true
    true
  }
  ["run output benchmark (in verbose mode)"] {
    true
    true
    true
    true
    true
    true
    true
    true
  }
  ["run parser benchmark"] {
    true
    true
    true
    true
    true
    true
    true
  }
  ["evaluate entire benchmark module"] {
    true
    true
    true
  }
}
