facts {
  ["isPositive"] {
    true
    true
    true
    true
    true
    true
    true
    true
  }
  ["isBetween"] {
    true
    true
    true
    true
    true
    true
    true
    true
    true
    true
    true
    true
    true
    true
  }
}
examples {
  ["value"] {
    1
    2.2
    3
    4.4
    5
    6.6
    7
    List(1, 2.2, 3)
  }
  ["unit"] {
    "ns"
    "us"
    "ms"
    "s"
    "min"
    "h"
    "d"
  }
  ["isoString"] {
    "PT0.000000001S"
    "PT0.0000022S"
    "PT0.003S"
    "PT4.4S"
    "PT5M"
    "PT6H36M"
    "PT168H"
    "PT2.0005S"
    "PT0S"
    "PT0S"
    "PT0S"
    "PT0S"
    "PT0S"
    "PT0S"
    "PT0S"
    "PT0S"
    "PT0S"
    "PT2400H"
    "-PT10.001S"
    "-PT3H6M"
    "PT9223372036854775807H7M8S"
    "Cannot convert duration `NaN.s` to ISO 8601 duration."
    "Cannot convert duration `Infinity.s` to ISO 8601 duration."
    "Cannot convert duration `-Infinity.s` to ISO 8601 duration."
    "Cannot convert duration `Infinity.s` to ISO 8601 duration."
  }
  ["toUnit()"] {
    1.d
    24.h
    1440.min
    86400.s
    86400000.ms
    86400000000.us
    86400000000000.ns
    1.d
    24.h
    1440.min
    86400.s
    86400000000.us
    86400000000000.ns
    1800.s
    0.5.h
    "Expected value of type `\"ns\"|\"us\"|\"ms\"|\"s\"|\"min\"|\"h\"|\"d\"`, but got `\"foo\"`."
  }
}
