facts {
  ["isEven"] {
    true
    true
    true
  }
  ["isOdd"] {
    true
    true
    true
  }
  ["isNaN"] {
    true
    true
  }
  ["isFinite"] {
    true
    true
  }
  ["isInfinite"] {
    true
    true
  }
  ["isPositive"] {
    true
    true
    true
  }
  ["isBetween()"] {
    true
    true
    true
    true
    true
    true
    true
    true
    true
    true
  }
  ["isNonZero"] {
    true
    true
    true
  }
  ["toDuration()"] {
    true
    true
  }
  ["toDataSize()"] {
    true
    true
  }
}
examples {
  ["sign"] {
    1
    -1
    0
    0
  }
  ["abs"] {
    123
    123
    0
    0
  }
  ["ceil"] {
    123
    -123
    0
    0
  }
  ["floor"] {
    123
    -123
    0
    0
  }
  ["toRadixString()"] {
    "7b"
    "1111011"
    "3o"
    "-7b"
    "-1111011"
    "-3o"
    "0"
    "0"
    "0"
    "0"
    "0"
    "0"
    "Type constraint `this.isBetween(2, 36)` violated. Value: -1"
    "Type constraint `this.isBetween(2, 36)` violated. Value: 64"
  }
  ["round()"] {
    123
    -123
    0
    0
  }
  ["truncate()"] {
    123
    -123
    0
    0
  }
  ["toInt()"] {
    123
    -123
    0
    0
  }
  ["toFloat()"] {
    123.0
    -123.0
    0.0
    0.0
  }
  ["toString()"] {
    "123"
    "-123"
    "0"
    "0"
  }
  ["toFixed()"] {
    "123"
    "-123"
    "0"
    "0"
    "123.0"
    "-123.00"
    "0.000"
    "0.0000"
    "123456789.0"
    "123456789.00"
    "123456789.000"
    "123456789.0000"
    "Type constraint `this.isBetween(0, 20)` violated. Value: 21"
    "Type constraint `this.isBetween(0, 20)` violated. Value: -1"
  }
  ["shl()"] {
    492
    -492
    0
  }
  ["shr()"] {
    30
    -31
    0
  }
  ["ushr()"] {
    30
    4611686018427387873
    0
  }
  ["and()"] {
    72
    384
  }
  ["or()"] {
    507
    -51
  }
  ["xor()"] {
    435
    -435
  }
  ["inv"] {
    -124
    122
  }
  ["toChar()"] {
    "a"
    "😊"
    "Decimal `-1` is not a valid Unicode code point."
    "Decimal `1,114,112` is not a valid Unicode code point."
  }
}
