res1 {
  ["firstName"] = "changed"
  ["lastName"] = "Smith"
  ["age"] = 42
  ["address"] {
    ["streetAddress"] = "21 2nd Street"
    ["city"] = "kroY weN"
    ["state"] = "CA"
    ["postalCode"] = "10021"
  }
  ["phoneNumber"] {
    "mobile"
    "mobile"
  }
  ["gender"] {
    ["type"] = "female"
  }
}
res2 = true
res3 = true
