res1 {
  "one"
  "two"
  "three"
}
res2 {
  ["name"] = "Pigeon"
  ["age"] = 42
}
res3 {
  ["firstName"] = "John"
  ["lastName"] = "Smith"
  ["age"] = 25
  ["address"] {
    ["streetAddress"] = "21 2nd Street"
    ["city"] = "New York"
    ["state"] = "NY"
    ["postalCode"] = "10021"
  }
  ["phoneNumber"] {
    new {
      ["type"] = "home"
      ["number"] = "212 555-1234"
    }
    new {
      ["type"] = "fax"
      ["number"] = "646 555-4567"
    }
  }
  ["gender"] {
    ["type"] = "male"
  }
}
res4 = true
res5 = true
