facts {
  ["isEmpty"] {
    true
    true
    true
    true
  }
  ["lastIndex"] {
    true
    true
    true
    true
    true
  }
  ["isDistinct"] {
    true
    true
    true
    true
    true
  }
  ["isDistinctBy()"] {
    true
    true
    true
    true
    true
    true
    true
    true
    true
    true
    true
    true
    true
    true
    true
  }
  ["getOrNull"] {
    true
    true
    true
    true
    true
    true
    true
  }
  ["first"] {
    true
    true
    true
  }
  ["firstOrNull"] {
    true
    true
    true
  }
  ["last"] {
    true
    true
    true
  }
}
examples {
  ["length"] {
    0
    0
    3
    5
  }
  ["toList()"] {
    List()
    List()
    List(new {
      name = "Pigeon"
    }, new {
      name = "Barn Owl"
    }, new {
      name = "Parrot"
    })
    List(new {
      name = "Pigeon"
    }, new {
      name = "Barn Owl"
    }, new {
      name = "Parrot"
    }, new {
      name = "Albatross"
    }, new {
      name = "Elf Owl"
    })
    List(new {
      name = "Pigeon"
    }, new {
      name = "Barn Owl"
    }, new {
      name = "Parrot"
    }, new {
      name = "Albatross"
    }, new {
      name = "Parrot"
    }, new {
      name = "Elf Owl"
    })
  }
  ["toSet()"] {
    Set()
    Set()
    Set(new {
      name = "Pigeon"
    }, new {
      name = "Barn Owl"
    }, new {
      name = "Parrot"
    })
    Set(new {
      name = "Pigeon"
    }, new {
      name = "Barn Owl"
    }, new {
      name = "Parrot"
    }, new {
      name = "Albatross"
    }, new {
      name = "Elf Owl"
    })
    Set(new {
      name = "Pigeon"
    }, new {
      name = "Barn Owl"
    }, new {
      name = "Parrot"
    }, new {
      name = "Albatross"
    }, new {
      name = "Elf Owl"
    })
  }
  ["distinct"] {
    new {}
    new {}
    new {
      new {
        name = "Pigeon"
      }
      new {
        name = "Barn Owl"
      }
      new {
        name = "Parrot"
      }
    }
    new {
      new {
        name = "Pigeon"
      }
      new {
        name = "Barn Owl"
      }
      new {
        name = "Parrot"
      }
      new {
        name = "Albatross"
      }
      new {
        name = "Elf Owl"
      }
    }
    new {
      new {
        name = "Pigeon"
      }
      new {
        name = "Barn Owl"
      }
      new {
        name = "Parrot"
      }
      new {
        name = "Albatross"
      }
      new {
        name = "Elf Owl"
      }
    }
  }
  ["distinctBy()"] {
    new {}
    new {}
    new {
      new {
        name = "Pigeon"
      }
      new {
        name = "Barn Owl"
      }
      new {
        name = "Parrot"
      }
    }
    new {
      new {
        name = "Pigeon"
      }
      new {
        name = "Barn Owl"
      }
      new {
        name = "Parrot"
      }
      new {
        name = "Albatross"
      }
      new {
        name = "Elf Owl"
      }
    }
    new {
      new {
        name = "Pigeon"
      }
      new {
        name = "Barn Owl"
      }
      new {
        name = "Parrot"
      }
      new {
        name = "Albatross"
      }
      new {
        name = "Elf Owl"
      }
    }
    new {}
    new {}
    new {
      new {
        name = "Pigeon"
      }
      new {
        name = "Barn Owl"
      }
      new {
        name = "Parrot"
      }
    }
    new {
      new {
        name = "Pigeon"
      }
      new {
        name = "Barn Owl"
      }
      new {
        name = "Parrot"
      }
      new {
        name = "Albatross"
      }
      new {
        name = "Elf Owl"
      }
    }
    new {
      new {
        name = "Pigeon"
      }
      new {
        name = "Barn Owl"
      }
      new {
        name = "Parrot"
      }
      new {
        name = "Albatross"
      }
      new {
        name = "Elf Owl"
      }
    }
    new {}
    new {}
    new {
      new {
        name = "Pigeon"
      }
    }
    new {
      new {
        name = "Pigeon"
      }
    }
    new {
      new {
        name = "Pigeon"
      }
    }
  }
  ["fold"] {
    List()
    List(new {
      name = "Pigeon"
    }, new {
      name = "Barn Owl"
    }, new {
      name = "Parrot"
    })
    List(new {
      name = "Pigeon"
    }, new {
      name = "Barn Owl"
    }, new {
      name = "Parrot"
    }, new {
      name = "Albatross"
    }, new {
      name = "Elf Owl"
    })
  }
  ["foldIndexed"] {
    List()
    List(Pair(0, new {
      name = "Pigeon"
    }), Pair(1, new {
      name = "Barn Owl"
    }), Pair(2, new {
      name = "Parrot"
    }))
    List(Pair(0, new {
      name = "Pigeon"
    }), Pair(1, new {
      name = "Barn Owl"
    }), Pair(2, new {
      name = "Parrot"
    }), Pair(3, new {
      name = "Albatross"
    }), Pair(4, new {
      name = "Elf Owl"
    }))
  }
  ["join"] {
    ""
    "123"
    "1, 2, 3"
    "PigeonBarn OwlParrot"
    "Pigeon---Barn Owl---Parrot"
    "PigeonBarn OwlParrotAlbatrossElf Owl"
    """
    Pigeon
    Barn Owl
    Parrot
    Albatross
    Elf Owl
    """
  }
}
