facts {
  ["isEmpty"] {
    true
    true
    true
    true
  }
  ["containsKey()"] {
    true
    true
    true
    true
    true
    true
    true
    true
    true
    true
    true
  }
  ["containsValue()"] {
    true
    true
    true
    true
  }
  ["length"] {
    true
    true
    true
  }
  ["keys (of type string)"] {
    true
    true
    true
  }
  ["keys (of type object)"] {
    true
    true
  }
  ["values"] {
    true
    true
    true
  }
  ["entries"] {
    true
    true
    true
  }
}
examples {
  ["getOrNull()"] {
    new {
      name = "Pigeon"
      age = 42
    }
    new {
      name = "Parrot"
      age = 24
    }
    null
    null
    new {
      name = "Piggy"
      age = 42
    }
    new {
      name = "Parrot"
      age = 24
    }
    new {
      name = "Barn Owl"
      age = 84
    }
    null
    null
    null
  }
  ["fold()"] {
    List(Pair("Pigeon", new {
      name = "Pigeon"
      age = 42
    }), Pair("Parrot", new {
      name = "Parrot"
      age = 24
    }))
    List(Pair("Pigeon", new {
      name = "Piggy"
      age = 42
    }), Pair("Parrot", new {
      name = "Parrot"
      age = 24
    }), Pair("Barn Owl", new {
      name = "Barn Owl"
      age = 84
    }))
    List()
    List()
  }
  ["toMap()"] {
    Map("Pigeon", new {
      name = "Pigeon"
      age = 42
    }, "Parrot", new {
      name = "Parrot"
      age = 24
    })
    Map("Pigeon", new {
      name = "Piggy"
      age = 42
    }, "Parrot", new {
      name = "Parrot"
      age = 24
    }, "Barn Owl", new {
      name = "Barn Owl"
      age = 84
    })
    Map()
    Map()
  }
}
