res1 = "The top-level value of a Pcf document must have type `Typed` or `Dynamic`, but got type `Int`. Value: 123"
res2 = "The top-level value of a Pcf document must have type `Typed` or `Dynamic`, but got type `Float`. Value: 1.23"
res3 = "The top-level value of a Pcf document must have type `Typed` or `Dynamic`, but got type `Boolean`. Value: false"
res4 = "The top-level value of a Pcf document must have type `Typed` or `Dynamic`, but got type `String`. Value: \"pigeon\""
res5 = "The top-level value of a Pcf document must have type `Typed` or `Dynamic`, but got type `List`. Value: List(\"pigeon\", \"parrot\")"
res6 = "The top-level value of a Pcf document must have type `Typed` or `Dynamic`, but got type `Set`. Value: Set(\"pigeon\", \"parrot\")"
res7 = "The top-level value of a Pcf document must have type `Typed` or `Dynamic`, but got type `Map`. Value: Map(\"name\", \"pigeon\", \"age\", 42)"
res8 = "The top-level value of a Pcf document must have type `Typed` or `Dynamic`, but got type `Listing`. Value: new Listing { ?; ? }"
res9 = "The top-level value of a Pcf document must have type `Typed` or `Dynamic`, but got type `Mapping`. Value: new Mapping { [\"name\"] = ?; [\"age\"] = ? }"
res10 = """
  name = "pigeon"
  age = 42
  
  """
res11 = """
  name = "pigeon"
  age = 42
  
  """
res12 = "The top-level value of a Pcf document must have type `Typed` or `Dynamic`, but got type `Duration`. Value: 1.min"
res13 = "The top-level value of a Pcf document must have type `Typed` or `Dynamic`, but got type `DataSize`. Value: 1.mb"
res14 = "The top-level value of a Pcf document must have type `Typed` or `Dynamic`, but got type `Null`. Value: null"
res15 = "The top-level value of a Pcf document must have type `Typed` or `Dynamic`, but got type `Pair`. Value: Pair(1, 2)"
res16 = "The top-level value of a Pcf document must have type `Typed` or `Dynamic`, but got type `Class`. Value: pcfRenderer5#Person"
res17 = "The top-level value of a Pcf document must have type `Typed` or `Dynamic`, but got type `TypeAlias`. Value: pcfRenderer5#Email"
res18 = "The top-level value of a Pcf document must have type `Typed` or `Dynamic`, but got type `Function1`. Value: new Function1 {}"
res19 = "ouch"
res20 = "The top-level value of a Pcf document must have type `Typed` or `Dynamic`, but got type `IntSeq`. Value: IntSeq(1, 4)"
