name = noegip
age = 42
friends = ["barn owlx","parrotx"]
moreFriends = ["elf owlx","eaglex"]
couple = ["pigeonx","parrotx"]
hobbies.surfing = low
hobbies.firemaking = high
classification.red\ wolf = confidential
classification.pink\ panther = official
address.street = Other St.
address.zip = changed
