res1 = "123"
res2 = "1.23"
res3 = "false"
res4 = "pigeon"
res5 = ""
res6 = "Cannot render value of type `Duration` as Properties. Value: 1.min"
res7 = "Cannot render value of type `DataSize` as Properties. Value: 1.mb"
res8 = "Cannot render value of type `List` as Properties. Value: List(\"pigeon\", \"parrot\")"
res9 = "Cannot render value of type `Set` as Properties. Value: Set(\"pigeon\", \"parrot\")"
res10 = "Cannot render value of type `Map` as Properties. Value: Map(\"name\", \"pigeon\", \"age\", 42)"
res11 = "Cannot render value of type `Listing` as Properties. Value: new Listing { \"pigeon\"; \"parrot\" }"
res12 = "Cannot render value of type `Mapping` as Properties. Value: new Mapping { [\"name\"] = ?; [\"age\"] = ? }"
res13 = "Cannot render value of type `Dynamic` as Properties. Value: new Dynamic { name = ?; age = ? }"
res14 = "Cannot render value of type `propertiesRenderer4#Person` as Properties. Value: new propertiesRenderer4#Person { name = ?; age = ? }"
res15 = "Cannot render value of type `Pair` as Properties. Value: Pair(1, 2)"
res16 = "Cannot render value of type `Class` as Properties. Value: propertiesRenderer4#Person"
res17 = "Cannot render value of type `TypeAlias` as Properties. Value: propertiesRenderer4#Email"
res18 = "Cannot render value of type `Function1` as Properties. Value: new Function1 {}"
res19 = "ouch"
res20 = "Cannot render value of type `IntSeq` as Properties. Value: IntSeq(1, 4)"
