res1 = """
  name = pigeon
  age = 42
  
  """
res2 = """
  name = pigeon
  age = 42
  
  """
res3 = """
  name = pigeon
  age = 42
  
  """
res4 = """
  name = pigeon
  age = 42
  
  """
res5 = "The top-level value of a Java properties file must have type `Typed`, `Dynamic`, `Mapping`, or `Map`, but got type `Pair`. Value: Pair(1, 2)"
res6 = "The top-level value of a Java properties file must have type `Typed`, `Dynamic`, `Mapping`, or `Map`, but got type `Null`. Value: null"
res7 = "The top-level value of a Java properties file must have type `Typed`, `Dynamic`, `Mapping`, or `Map`, but got type `Int`. Value: 123"
res8 = "The top-level value of a Java properties file must have type `Typed`, `Dynamic`, `Mapping`, or `Map`, but got type `Float`. Value: 1.23"
res9 = "The top-level value of a Java properties file must have type `Typed`, `Dynamic`, `Mapping`, or `Map`, but got type `Boolean`. Value: false"
res10 = "The top-level value of a Java properties file must have type `Typed`, `Dynamic`, `Mapping`, or `Map`, but got type `String`. Value: \"pigeon\""
res11 = "The top-level value of a Java properties file must have type `Typed`, `Dynamic`, `Mapping`, or `Map`, but got type `List`. Value: List(\"pigeon\", \"parrot\")"
res12 = "The top-level value of a Java properties file must have type `Typed`, `Dynamic`, `Mapping`, or `Map`, but got type `Set`. Value: Set(\"pigeon\", \"parrot\")"
res13 = "The top-level value of a Java properties file must have type `Typed`, `Dynamic`, `Mapping`, or `Map`, but got type `Listing`. Value: new Listing { ?; ? }"
res14 = "The top-level value of a Java properties file must have type `Typed`, `Dynamic`, `Mapping`, or `Map`, but got type `Duration`. Value: 1.min"
res15 = "The top-level value of a Java properties file must have type `Typed`, `Dynamic`, `Mapping`, or `Map`, but got type `DataSize`. Value: 1.mb"
res16 = "The top-level value of a Java properties file must have type `Typed`, `Dynamic`, `Mapping`, or `Map`, but got type `Class`. Value: propertiesRenderer5#Person"
res17 = "The top-level value of a Java properties file must have type `Typed`, `Dynamic`, `Mapping`, or `Map`, but got type `TypeAlias`. Value: propertiesRenderer5#Email"
res18 = "The top-level value of a Java properties file must have type `Typed`, `Dynamic`, `Mapping`, or `Map`, but got type `Function1`. Value: new Function1 {}"
res19 = "ouch"
res20 = "The top-level value of a Java properties file must have type `Typed`, `Dynamic`, `Mapping`, or `Map`, but got type `IntSeq`. Value: IntSeq(1, 4)"
