examples {
  ["some"] {
    """
    plainString: "plain string"
    nestedListing: {
      it: "foo"
      it: "bar"
    }
    nestedListing: {
      it: "baz"
      it: "qux"
    }
    nestedListing2: {
      it: {
        it: {
          it: "foo"
          it: "bar"
          it: "baz"
        }
      }
    }
    nestedMapping: {
      key: "quux"
      value: {
        it: {
          key: 42
          value: true
        }
        it: {
          key: 1337
          value: false
        }
      }
    }
    nestedMapping: {
      key: "corge"
      value: {
        it: {
          key: 0
          value: false
        }
      }
    }
    listingInMapping: {
      key: "grault"
      value: {
        it: "grault1"
        it: "grault2"
      }
    }
    listingInMapping: {
      key: "garply"
      value: {
        it: "garply1"
      }
    }
    listingInMapping: {
      key: "waldo"
      value: {}
    }
    mappingInListing: {
      it: {
        key: -1
        value: false
      }
      it: {
        key: 1
        value: true
      }
    }
    mappingInListing: {
      it: {
        key: -2
        value: true
      }
      it: {
        key: 2
        value: false
      }
    }
    nestedList: {
      it: "pigeon"
      it: "plugh"
    }
    nestedList: {}
    nestedList: {
      it: "xyzzy"
    }
    nestedMap: {
      key: "thud"
      value: {}
    }
    nestedMap: {
      key: "wibble"
      value: {
        it: {
          key: 1
          value: false
        }
        it: {
          key: 2
          value: true
        }
      }
    }
    nestedMap: {
      key: "wobble"
      value: {
        it: {
          key: 0
          value: false
        }
      }
    }
    
    """
  }
}
