facts {
  ["Reflecting an extending module"] {
    true
    true
    true
    true
    true
    true
    true
    true
  }
  ["Reflecting an extending module class"] {
    true
    true
    true
  }
  ["Reflecting properties"] {
    true
  }
  ["Reflecting methods"] {
    true
  }
  ["Reflecting an extended class"] {
    true
    true
    true
    true
    true
    true
    true
    true
    true
  }
}
examples {
  ["Reflected module properties of known extending type metadata"] {
    new {
      hasExpectedLocation = true
      annotations = List()
      modifiers = Set()
      name = "property"
      defaultValue {
        name = "Pigeon"
        age = 42
      }
      hasExpectedType = true
    }
  }
  ["Reflecting a method from an extending module"] {
    new {
      hasExpectedLocation = true
      annotations = List()
      modifiers = Set()
      name = "method"
      typeParameters = List()
      parameterNames = Set()
      hasExpectedParameterTypes = true
      hasExpectedReturnType = true
    }
  }
}
