examples {
  ["pcf"] {
    """
    1"2
    3\t4'
    """
    "+* /\\-;)❌#✅<>"
    """
    directiveProperty ✅/&\\;)*❌
    normalProperty = 42
    dynamic {
      foo {
        bar {
          baz +#✅<;)❌* /\\->
        }
        qux +\\✅)❌#-;<* />
      }
    }
    listing {
      "foo"
      💰
      "baz"
    }
    mapping {
      ["key"] = "value"
      [🔑] = 42
      ["other"] 💰
    }
    
    """
    """
    ✅\\❌ /-#;)<>
    
    """
  }
  ["json"] {
    """
    1"2
    3\t4'
    """
    "+* /\\-;)❌#✅<>"
    """
    {
      "directiveProperty": ✅/&\\;)*❌,
      "normalProperty": 42,
      "dynamic": {
        "foo": {
          "bar": {
            "baz": +#✅<;)❌* /\\->
          },
          "qux": +\\✅)❌#-;<* />
        }
      },
      "listing": [
        "foo",
        💰,
        "baz"
      ],
      "mapping": {
        "key": "value",
        🔑: 42,
        "other": 💰
      }
    }
    
    """
    """
    ✅\\❌ /-#;)<>
    
    """
  }
  ["jsonnet"] {
    """
    1"2
    3\t4'
    """
    "+* /\\-;)❌#✅<>"
    """
    {
      directiveProperty: ✅/&\\;)*❌,
      normalProperty: 42,
      dynamic: {
        foo: {
          bar: {
            baz: +#✅<;)❌* /\\->,
          },
          qux: +\\✅)❌#-;<* />,
        },
      },
      listing: [
        'foo',
        💰,
        'baz',
      ],
      mapping: {
        key: 'value',
        🔑: 42,
        other: 💰,
      },
    }
    
    """
    """
    ✅\\❌ /-#;)<>
    
    """
  }
  ["plist"] {
    """
    1"2
    3\t4'
    """
    "+* /\\-;)❌#✅<>"
    """
    <?xml version="1.0" encoding="UTF-8"?>
    <!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
    <plist version="1.0">
    <dict>
      <key>directiveProperty</key>
      ✅/&\\;)*❌
      <key>normalProperty</key>
      <integer>42</integer>
      <key>dynamic</key>
      <dict>
        <key>foo</key>
        <dict>
          <key>bar</key>
          <dict>
            <key>baz</key>
            +#✅<;)❌* /\\->
          </dict>
          <key>qux</key>
          +\\✅)❌#-;<* />
        </dict>
      </dict>
      <key>listing</key>
      <array>
        <string>foo</string>
        💰
        <string>baz</string>
      </array>
      <key>mapping</key>
      <dict>
        <key>key</key>
        <string>value</string>
        <key>🔑</key>
        <integer>42</integer>
        <key>other</key>
        💰
      </dict>
    </dict>
    </plist>
    
    """
    """
    <?xml version="1.0" encoding="UTF-8"?>
    <!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
    <plist version="1.0">
    ✅\\❌ /-#;)<>
    </plist>
    
    """
  }
  ["properties"] {
    """
    1"2
    3\t4'
    """
    "+* /\\-;)❌#✅<>"
    """
    directiveProperty = ✅/&\\;)*❌
    normalProperty = 42
    dynamic.foo.bar.baz = +#✅<;)❌* /\\->
    dynamic.foo.qux = +\\✅)❌#-;<* />
    
    """
    "✅\\❌ /-#;)<>"
  }
  ["textproto"] {
    """
    1"2
    3\t4'
    """
    "+* /\\-;)❌#✅<>"
    """
    directiveProperty: ✅/&\\;)*❌
    normalProperty: 42
    listing: "foo"
    listing: 💰
    listing: "baz"
    mapping: {
      key: "key"
      value: "value"
    }
    mapping: {
      key: 🔑
      value: 42
    }
    mapping: {
      key: "other"
      value: 💰
    }
    
    """
    """
    ✅\\❌ /-#;)<>
    
    """
  }
  ["xml"] {
    """
    1"2
    3\t4'
    """
    "+* /\\-;)❌#✅<>"
    """
    <?xml version="1.0" encoding="UTF-8"?>
    <root>
      <directiveProperty>✅/&\\;)*❌</directiveProperty>
      <normalProperty>42</normalProperty>
      <dynamic>
        <foo>
          <bar>
            <baz>+#✅<;)❌* /\\-></baz>
          </bar>
          <qux>+\\✅)❌#-;<* /></qux>
        </foo>
      </dynamic>
      <listing>foo💰baz</listing>
      <mapping>
        <key>value</key>
        <🔑>42</🔑>
        <other>💰</other>
      </mapping>
    </root>
    
    """
    """
    <?xml version="1.0" encoding="UTF-8"?>
    <root>✅\\❌ /-#;)<></root>
    
    """
  }
  ["yaml"] {
    """
    1"2
    3\t4'
    """
    "+* /\\-;)❌#✅<>"
    """
    directiveProperty:✅/&\\;)*❌
    normalProperty: 42
    dynamic:
      foo:
        bar:
          baz:+#✅<;)❌* /\\->
        qux:+\\✅)❌#-;<* />
    listing:
    - foo
    -💰
    - baz
    mapping:
      key: value
      🔑: 42
      other:💰
    
    """
    """
    ✅\\❌ /-#;)<>
    
    """
  }
}
