facts {
  ["parseOrNull()"] {
    true
    true
    true
    true
    true
    true
    true
    true
  }
  ["Version.major"] {
    true
    true
    true
    true
    true
    true
    true
  }
  ["Version.minor"] {
    true
    true
    true
    true
    true
    true
    true
  }
  ["Version.patch"] {
    true
    true
    true
    true
    true
    true
    true
  }
  ["Version.preRelease"] {
    true
    true
    true
    true
    true
    true
    true
  }
  ["Version.build"] {
    true
    true
    true
    true
    true
    true
    true
  }
  ["Version.equals()"] {
    true
    true
    true
    true
    true
    true
    true
    true
    true
    true
    true
    true
    true
    true
    true
  }
  ["Version.isLessThan()"] {
    true
    true
    true
    true
    true
    true
    true
    true
    true
    true
    true
    true
    true
    true
    true
    true
    true
    true
    true
    true
  }
  ["Version.isLessThanOrEquals()"] {
    true
    true
    true
    true
    true
  }
  ["Version.isGreaterThan()"] {
    true
    true
    true
    true
    true
    true
    true
  }
  ["Version.isGreaterThanOrEquals()"] {
    true
    true
    true
    true
    true
  }
  ["Version.isNormal()"] {
    true
    true
    true
    true
    true
  }
  ["Version.isStable()"] {
    true
    true
    true
    true
    true
    true
    true
  }
  ["Version.toString()"] {
    true
    true
    true
    true
    true
    true
    true
  }
}
examples {
  ["Version"] {
    new {
      major = 0
      minor = 0
      patch = 0
    }
    new {
      major = 1
      minor = 2
      patch = 3
    }
    new {
      major = 1
      minor = 2
      patch = 3
      preRelease = "beta-1"
    }
    new {
      major = 1
      minor = 2
      patch = 3
      preRelease = "beta-1"
      build = "340249"
    }
    "`1` is not a valid semantic version number."
    "`1.2` is not a valid semantic version number."
    "`1.02.3` is not a valid semantic version number."
    "`aaa` is not a valid semantic version number."
  }
}
