examples {
  ["toTyped()"] {
    new {
      name = "Pigeon"
      nick = "Pigeon"
    }
    new {
      name = "Pigeon"
      nick = "Pigeon"
    }
  }
  ["toTyped() and amends"] {
    new {
      name = "NewPigeon"
      nick = "NewPigeon"
    }
    new {
      name = "NewPigeon"
      nick = "NewPigeon"
    }
  }
}
