res1 = 255
res2 = -128
res3 = 65535
res4 = -32768
res5 = 4294967295
res6 = -2147483648
res7 = 9223372036854775807
res8 = "https://apple.com"
res8b = 42
good {
  res9 = 255
  res10 = -128
  res11 = 65535
  res12 = -32768
  res13 = 4294967295
  res14 = -2147483648
  res15 = 9223372036854775807
  res16 = "https://apple.com"
  res16b = 42
}
res17 = "Type constraint `isBetween(0, 255)` violated. Value: 256"
res18 = "Type constraint `isBetween(-128, 127)` violated. Value: -129"
res19 = "Type constraint `isBetween(0, 65535)` violated. Value: 65536"
res20 = "Type constraint `isBetween(-32768, 32767)` violated. Value: -32769"
res21 = "Type constraint `isBetween(0, 4294967295)` violated. Value: 4294967296"
res22 = "Type constraint `isBetween(-2147483648, 2147483647)` violated. Value: -2147483649"
res23 = "Type constraint `isPositive` violated. Value: -1"
res24 = "Expected value of type `String`, but got type `Int`. Value: 42"
res24b = "Type constraint `!(this is Null)` violated. Value: null"
res24c = "Type constraint `!(this is Null)` violated. Value: null"
