facts {
  ["components"] {
    true
    true
    true
    true
    true
    true
    true
    true
  }
  ["parse(): keeps components as they were written"] {
    true
    true
    true
    true
    true
    true
    true
    true
    true
    true
    true
    true
  }
  ["parse(): round-trips valid URIs"] {
    true
    true
    true
    true
    true
    true
    true
    true
    true
    true
    true
    true
    true
    true
  }
  ["parse(): encodes what it cannot keep"] {
    true
    true
    true
    true
    true
    true
    true
    true
    true
    true
    true
    true
    true
  }
  ["parse(): failing"] {
    true
    true
    true
    true
    true
    true
    true
    true
    true
    true
    true
    true
    true
    true
    true
    true
    true
  }
  ["parse(): RFC 6874 zone identifiers"] {
    true
    true
    true
    true
    true
    true
    true
    true
    true
    true
    true
    true
    true
    true
  }
  ["parse(): relative references"] {
    true
    true
    true
    true
    true
    true
    true
    true
    true
    true
    true
    true
    true
    true
    true
    true
    true
    true
    true
    true
  }
  ["resolve(): RFC 3986, section 5.4.1 normal examples"] {
    true
    true
    true
    true
    true
    true
    true
    true
    true
    true
    true
    true
    true
    true
    true
    true
    true
    true
    true
    true
    true
    true
    true
  }
  ["resolve(): RFC 3986, section 5.4.2 abnormal examples"] {
    true
    true
    true
    true
    true
    true
    true
    true
    true
    true
    true
    true
    true
    true
    true
    true
    true
    true
    true
  }
  ["resolve(): other cases"] {
    true
    true
    true
    true
    true
    true
  }
  ["new Url"] {
    true
    true
    true
    true
    true
    true
    true
    true
  }
  ["amending a Url"] {
    true
    true
    true
    true
    true
    true
    true
    true
  }
  ["segments"] {
    true
    true
    true
    true
    true
    true
    true
    true
    true
  }
  ["queryParameters"] {
    true
    true
    true
    true
    true
    true
    true
    true
  }
  ["equality"] {
    true
    true
    true
    true
    true
    true
  }
  ["equals()"] {
    true
    true
    true
    true
    true
    true
    true
    true
    true
    true
    true
    true
    true
    true
    true
    true
    true
    true
  }
  ["encodeComponent()"] {
    true
    true
    true
    true
    true
    true
    true
  }
  ["decodeComponent()"] {
    true
    true
    true
    true
    true
    true
    true
    true
    true
  }
  ["buildQuery()"] {
    true
    true
    true
    true
    true
    true
    true
    true
    true
    true
  }
}
