res1 = "123"
res2 = "1.23"
res3 = "false"
res4 = "pigeon"
res6 = "pigeonparrot"
res7 = "pigeonparrot"
res8 = """
  <name>pigeon</name>
  <age>42</age>
  """
res9 = "pigeonparrot"
res10 = """
  <name>pigeon</name>
  <age>42</age>
  """
res11 = """
  <name>pigeon</name>
  <age>42</age>
  """
res12 = """
  <name>pigeon</name>
  <age>42</age>
  """
res14 = "Cannot render value of type `Null` as XML. Value: null"
res15 = "Cannot render value of type `Duration` as XML. Value: 1.min"
res16 = "Cannot render value of type `DataSize` as XML. Value: 1.mb"
res17 = "Cannot render value of type `Class` as XML. Value: xmlRenderer4#Person"
res18 = "Cannot render value of type `TypeAlias` as XML. Value: xmlRenderer4#Email"
res19 = "Cannot render value of type `Function1` as XML. Value: new Function1 {}"
res20 = "ouch"
res21 = "Cannot render value of type `IntSeq` as XML. Value: IntSeq(1, 4)"
res22 = "Cannot render value of type `Pair` as XML. Value: Pair(1, 2)"
