<?xml version="1.0" encoding="UTF-8"?>
<root>
  <int>123</int>
  <float>1.23</float>
  <bool>true</bool>
  <string>Pigeon</string>
  <unicodeString>abc😀abc😎abc</unicodeString>
  <multiLineString>have a
great
day</multiLineString>
  <typedObject>
    <name>Pigeon</name>
    <age>30</age>
    <address>
      <street>Folsom St.</street>
    </address>
  </typedObject>
  <dynamicObject>
    <name>Pigeon</name>
    <age>30</age>
    <address>
      <street>Folsom St.</street>
    </address>
  </dynamicObject>
</root>
