<?xml version="1.0" encoding="UTF-8"?>
<root>
  <name>noegip</name>
  <age>42</age>
  <friends>barn owlxparrotx</friends>
  <hobbies>
    <surfing>low</surfing>
    <firemaking>high</firemaking>
  </hobbies>
  <address>
    <street>Other St.</street>
    <zip>changed</zip>
  </address>
</root>
