res1 {
  msg1 = "This is a message."
  msg2 = "This is a message."
}
res2 {
  pigeon {
    name = "pigeon"
    age = 42
  }
  pigeon2 {
    `<<` {
      name = "pigeon"
      age = 42
    }
    age = 21
  }
}
res3 {
  name = "pigeon"
  age = 42
}
res4 {
  name = "pigeon"
  age = 42
}
res5 {
  name = "pigeon"
  age = 42
}
res6 = null
res7 = "Error parsing YAML document."
res8 = List()
res9 = List()
res10 = List(null)
res11 = List(null, null, null)
res12 = List(123, null, 456)
res13 = List(new {
  name = "pigeon"
})
res14 = List(new {
  name = "pigeon"
})
res15 = List(new {
  name = "pigeon"
}, new {
  age = 42
}, new {
  hobby = "surfing"
})
res16 = "Error parsing YAML document."
res17 {
  ["default"] = null
}
