res1 {
  invoice = 99999
  date = "2001-01-23"
  `bill-to` {
    given = "Pigeon"
    family = "sramuD"
    address {
      lines = """
        458 Walkman Dr.
        Suite #292
        
        """
      city = "ROYAL OAK"
      state = "CA"
      postal = 48046
    }
  }
  `ship-to` {
    given = "Pigeon"
    family = "sramuD"
    address {
      lines = """
        458 Walkman Dr.
        Suite #292
        
        """
      city = "ROYAL OAK"
      state = "CA"
      postal = 48046
    }
  }
  product {
    new {
      sku = "BL394D"
      quantity = 8
      description = "Basketball"
      price = 900.0
    }
    new {
      sku = "BL4438H"
      quantity = 2
      description = "Super Hoop"
      price = 4784.0
    }
  }
  tax = 251.42
  total = 4443.52
  comments = "Late afternoon is best. Backup contact is Nancy Billsmer @ 338-4338."
}
res2 = List(new {
  invoice = 99999
  date = "2001-01-23"
  `bill-to` {
    given = "Pigeon"
    family = "sramuD"
    address {
      lines = """
        458 Walkman Dr.
        Suite #292
        
        """
      city = "ROYAL OAK"
      state = "CA"
      postal = 48046
    }
  }
  `ship-to` {
    given = "Pigeon"
    family = "sramuD"
    address {
      lines = """
        458 Walkman Dr.
        Suite #292
        
        """
      city = "ROYAL OAK"
      state = "CA"
      postal = 48046
    }
  }
}, new {
  product {
    new {
      sku = "BL394D"
      quantity = 8
      description = "Basketball"
      price = 900.0
    }
    new {
      sku = "BL4438H"
      quantity = 2
      description = "Super Hoop"
      price = 4784.0
    }
  }
}, new {
  tax = 251.42
  total = 4443.52
  comments = "Late afternoon is best. Backup contact is Nancy Billsmer @ 338-4338."
})
