examples {
  ["null like strings"] {
    "'null'"
    "'Null'"
    "'NULL'"
    "NuLl"
  }
  ["boolean like strings"] {
    "'y'"
    "'Y'"
    "'yes'"
    "'Yes'"
    "'YES'"
    "YeS"
    "'n'"
    "'N'"
    "'no'"
    "'No'"
    "'NO'"
    "nO"
    "'true'"
    "'True'"
    "'TRUE'"
    "TrUe"
    "'false'"
    "'False'"
    "'FALSE'"
    "FaLsE"
    "'on'"
    "'On'"
    "'ON'"
    "oN"
    "'off'"
    "'Off'"
    "'OFF'"
    "OfF"
  }
  ["int like strings"] {
    "'0'"
    "'1'"
    "'2'"
    "'9'"
    "A"
    "'-0'"
    "'+0'"
    "'123'"
    "'-123'"
    "'+123'"
    "'0b1001'"
    "'-0b1001'"
    "'+0b1001'"
    "'0123'"
    "'01234567'"
    "'-0123'"
    "'+0123'"
    "'0o123'"
    "'0o1234567'"
    "'-0o123'"
    "'+0o123'"
    "'0x1A3'"
    "'0xabcdef'"
    "'-0x1A3'"
    "'+0x1A3'"
    "'59:30:1'"
    "'-59:30:1'"
    "'+59:30:1'"
    "'1_2_3'"
  }
  ["float like strings"] {
    "'0.'"
    "'.0'"
    "'0.0'"
    "'123.456'"
    "'0123.456'"
    "'-123.456'"
    "'+123.456'"
    "'123.456e2'"
    "'123.456E2'"
    "'123.456e-2'"
    "'123.456E+2'"
    "'-123.456e+2'"
    "'+123.456E+2'"
    "'59:30:1.234'"
    "'-59:30:1.234'"
    "'+59:30:1.234'"
    "'1_2_3.456'"
    "'1_2_3.4_5_6'"
    "'.'"
    "'.___'"
    "'.inf'"
    "'.Inf'"
    "'.INF'"
    ".InF"
    "'+.inf'"
    "'+.Inf'"
    "'+.INF'"
    "+.InF"
    "'-.inf'"
    "'-.Inf'"
    "'-.INF'"
    "-.InF"
    "'.nan'"
    "'.NaN'"
    "'.NAN'"
    ".nAn"
  }
  ["tag like strings"] {
    "!!bool true"
    "!!str my string value"
  }
  ["number like string keys"] {
    """
    '0': '0'
    '0.123': '0.123'
    """
  }
}
