res1 {
  invoicex = 34844
  datex = "2001-01-23x"
  `bill-tox` {
    givenx = "Chrisx"
    familyx = "Dumarsx"
    addressx {
      linesx = """
        458 Walkman Dr.
        Suite #292
        x
        """
      cityx = "Royal Oakx"
      statex = "MIx"
      postalx = 48047
      other = "other"
    }
    other = "other"
  }
  `ship-tox` {
    givenx = "Chrisx"
    familyx = "Dumarsx"
    addressx {
      linesx = """
        458 Walkman Dr.
        Suite #292
        x
        """
      cityx = "Royal Oakx"
      statex = "MIx"
      postalx = 48047
      other = "other"
    }
    other = "other"
  }
  productx {
    "other"
    new {
      skux = "BL4438Hx"
      quantityx = 2
      descriptionx = "Super Hoopx"
      pricex = 2393.23
      other = "other"
    }
  }
  taxx = 252.64999999999998
  totalx = 4444.75
  commentsx = "Late afternoon is best. Backup contact is Nancy Billsmer @ 338-4338.x"
  other = "other"
}
res2 = List(new {
  invoicex = 34844
  datex = "2001-01-23x"
  `bill-tox` {
    givenx = "Chrisx"
    familyx = "Dumarsx"
    addressx {
      linesx = """
        458 Walkman Dr.
        Suite #292
        x
        """
      cityx = "Royal Oakx"
      statex = "MIx"
      postalx = 48047
      other = "other"
    }
    other = "other"
  }
  `ship-tox` {
    givenx = "Chrisx"
    familyx = "Dumarsx"
    addressx {
      linesx = """
        458 Walkman Dr.
        Suite #292
        x
        """
      cityx = "Royal Oakx"
      statex = "MIx"
      postalx = 48047
      other = "other"
    }
    other = "other"
  }
  other = "other"
}, new {
  productx {
    "other"
    new {
      skux = "BL4438Hx"
      quantityx = 2
      descriptionx = "Super Hoopx"
      pricex = 2393.23
      other = "other"
    }
  }
  other = "other"
}, new {
  taxx = 252.64999999999998
  totalx = 4444.75
  commentsx = "Late afternoon is best. Backup contact is Nancy Billsmer @ 338-4338.x"
  other = "other"
})
