examples {
  ["null"] {
    null
    null
    null
    "NuLl"
  }
  ["boolean"] {
    "y"
    "Y"
    "yes"
    "Yes"
    "YES"
    "YeS"
    "n"
    "N"
    "no"
    "No"
    "NO"
    "nO"
    true
    true
    true
    "TrUe"
    false
    false
    false
    "FaLsE"
    "on"
    "On"
    "ON"
    "oN"
    "off"
    "Off"
    "OFF"
    "OfF"
  }
  ["int"] {
    123
    -123
    123
    "0b1001"
    "-0b1001"
    "+0b1001"
    123
    -123
    123
    83
    "-0o123"
    "+0o123"
    419
    "-0x1A3"
    "+0x1A3"
    "59:30:1"
    "-59:30:1"
    "+59:30:1"
    "1_2_3"
  }
  ["float"] {
    123.456
    123.456
    -123.456
    123.456
    12345.6
    12345.6
    1.23456
    12345.6
    -12345.6
    12345.6
    "59:30:1.234"
    "-59:30:1.234"
    "+59:30:1.234"
    "1_2_3.456"
    "1_2_3.4_5_6"
    "."
    ".___"
    Infinity
    Infinity
    Infinity
    ".InF"
    Infinity
    Infinity
    Infinity
    "+.InF"
    -Infinity
    -Infinity
    -Infinity
    "-.InF"
    NaN
    NaN
    NaN
    ".nAn"
  }
  ["timestamp"] {
    "2001-12-15T02:59:43.1Z"
    "2011-11-18 19:00:59"
    "2001-12-15T02:59:43.1Z"
  }
  ["binary"] {
    "dGhlIHF1aWNrIGJyb3duIGZveCBqdW1wcyBvdmVyIHRoZSBsYXp5IGRvZw=="
  }
  ["string"] {
    null
    null
    "hello"
    "hello world"
    "hello world"
    new {
      x = """
        hello
        world
        """
    }
    new {
      x = "hello world"
    }
  }
  ["sequence"] {
    new {
      "one"
      "two"
      "three"
    }
    new {
      "one"
      "two"
      "three"
    }
  }
  ["mapping"] {
    new {
      name = "Pigeon"
      age = 42
    }
    new {
      [new {
        "foo"
        "bar"
      }] {
        "one"
        "two"
      }
    }
  }
  ["real-world example"] {
    new {
      invoice = 34843
      date = "2001-01-23"
      `bill-to` {
        given = "Chris"
        family = "Dumars"
        address {
          lines = """
            458 Walkman Dr.
            Suite #292
            
            """
          city = "Royal Oak"
          state = "MI"
          postal = 48046
        }
      }
      `ship-to` {
        given = "Chris"
        family = "Dumars"
        address {
          lines = """
            458 Walkman Dr.
            Suite #292
            
            """
          city = "Royal Oak"
          state = "MI"
          postal = 48046
        }
      }
      product {
        new {
          sku = "BL394D"
          quantity = 4
          description = "Basketball"
          price = 450.0
        }
        new {
          sku = "BL4438H"
          quantity = 1
          description = "Super Hoop"
          price = 2392.0
        }
      }
      tax = 251.42
      total = 4443.52
      comments = "Late afternoon is best. Backup contact is Nancy Billsmer @ 338-4338."
    }
  }
  ["invalid syntax"] {
    "Error parsing YAML document."
  }
  ["wrong tag/node combination"] {
    "Error parsing YAML document."
  }
}
