example1 {
  result {
    prop = 2
  }
}
example2 {
  result {
    prop = 3
  }
}
example3 {
  result = "Type constraint `this > 3` violated. Value: 2"
}
example4 {
  result = "Expected value of type `String`, but got type `Int`. Value: 1"
}
example5 {
  result {
    prop3 {}
    prop1 {}
    prop2 {}
  }
}
example6 {
  result = "Expected value of type `amendLambdaParametersTyped#Baz`, but got type `amendLambdaParametersTyped#Foo`. Value: new Foo {}"
}
