example1 {
  result {
    name = "Pigeon"
  }
}
example2 {
  result {
    name = "Pigeon"
    name2 = "Pigeon2"
    name3 = "Pigeon3"
    name4 = "Pigeon4"
  }
}
example3 {
  result1 {
    f1Args = List()
    f2Args = List("f2Arg1")
    f3Args = List("f3Arg1", "f3Arg2")
  }
  result2 {
    f1Args = List()
    f2Args = List(3.min)
    f3Args = List(42, 5.gb)
  }
  result3 {
    f1Args = List()
    f2Args = List(new {
      z = 3.min
    })
    f3Args = List(new {
      x = 42
    }, new {
      y = 5.gb
    })
  }
}
example4 {
  result {
    f1Args = List("f1Arg1", "f1Arg2")
    f2Args = List("f2Arg1")
    f3Args = List()
  }
}
