lA1Call = true
lA2Call = true
lA3Call = true
lB1Call = true
lB2Call = true
lB3Call = true
lC1Call {
  x = true
}
lC2Call {
  x = true
}
lC3Call {
  x = true
}
lC4Call {
  x = true
}
lD1Call {
  x = true
}
lD2Call {
  x = true
}
lD3Call {
  x = true
}
lD4Call {
  x = true
}
