res1 = 43
res2 = 44
res3 = 86
res4 = 0
res5 = 7
res6 = 42
res7 = 22
res8 = 44
res9 = 44
res10 = "Operator `|>` is not defined for operand types `Int` and `Int`. Left operand : 42 Right operand: 21"
res11 = "Operator `|>` is not defined for operand types `Int` and `pipeOperator#Person`. Left operand : 42 Right operand: new pipeOperator#Person {}"
