res1 = 43
res2 = "Expected value of type `Int`, but got type `String`. Value: \"wrong type\""
res3 = 43
res4 = "Type constraint `isPositive` violated. Value: -1"
foo {
  n = 3
  bar {
    res5 = "abcde"
    res6 = "Type constraint `length > n` violated. Value: \"abc\""
  }
}
foo2 {
  n = 4
  bar {
    res5 = "abcde"
    res6 = "Type constraint `length > n` violated. Value: \"abc\""
  }
}
res7 = true
