int = 123
float = 1.23
bool = true
string = "Pigeon"
unicodeString = "abc😀abc😎abc"
multiLineString = """
  have a
  great
  day
  """
list = List(123, 1.23, true, "Pigeon", "abc😀abc😎abc", """
  have a
  great
  day
  """, List(1, 2, 3), Set(1, 2, 3), Map("one", 1), new {
  name = "Pigeon"
})
set = Set(123, 1.23, true, "Pigeon", "abc😀abc😎abc", """
  have a
  great
  day
  """, List(1, 2, 3), Set(1, 2, 3), Map("one", 1), new {
  name = "Pigeon"
})
map = Map("one", 123, "two", 1.23, "three", true, "four", "Pigeon", "five", "abc😀abc😎abc", "six", """
  have a
  great
  day
  """, "seven", List(1, 2, 3), "eight", Set(1, 2, 3), "nine", Map("one", 1), "ten", new {
  name = "Pigeon"
}, "eleven", null)
typedObject {
  name = "Pigeon"
  age = 30
  address {
    street = "Folsom St."
  }
  hobbies = List("swimming", "gardening", "reading")
  friend = null
}
container {
  name = "Pigeon"
  age = 30
  address {
    street = "Folsom St."
    hobbies = List("swimming", "gardening", "reading")
  }
  friend = null
}
