res1 = "Cannot instantiate, or amend an instance of, external class `Int`."
res2 = "Cannot instantiate, or amend an instance of, external class `List`."
res3 = "Cannot instantiate, or amend an instance of, external class `List`."
res4 = "Object of type `new wrongParent#Person {}` cannot have an entry."
res5 = "Cannot instantiate abstract class `ValueRenderer`."
res6 = "Element index `0` is out of range `0`..`-1`."
res7 = "Cannot instantiate, or amend an instance of, external class `Int`."
res8 = "Cannot instantiate, or amend an instance of, external class `List`."
res9 = "Cannot instantiate, or amend an instance of, external class `List`."
res10 = "Object of type `new wrongParent#Person {}` cannot have an entry."
res11 = "Cannot instantiate abstract class `ValueRenderer`."
res12 = "Element index `0` is out of range `0`..`-1`."
