facts {
  ["package-relative dependency is not same import as absolute URI dependency"] {
    true
  }
  ["package-relative dependency has scheme projectpackage"] {
    true
  }
  ["transitive import resolves to same dependency as direct dependency import"] {
    true
  }
  ["transitive import resolves to same dependency as projectpackage import"] {
    true
    true
  }
}
examples {
  ["import package"] {
    new {
      name = "Ostrich"
      favoriteFruit {
        name = "Orange"
      }
    }
    new {
      name = "Swallow"
      favoriteFruit {
        name = "Apple 🍎"
      }
    }
  }
  ["import module that uses triple-dot import"] {
    new {
      name = "Bird"
      favoriteFruit {
        name = "Fruit"
      }
    }
  }
  ["reading directories"] {
    new {
      uri = "projectpackage://localhost:0/birds@0.5.0#/catalog"
      text = """
        Ostrich.pkl
        Swallow.pkl
        
        """
      bytes = Bytes(79, 115, 116, 114, 105, 99, 104, 46, 112, 107, 108, 10, 83, 119, 97, 108, 108, 111, 119, 46, 112, 107, 108, 10)
    }
    new {
      uri = "projectpackage://localhost:0/birds@0.5.0#/"
      text = """
        Bird.pkl
        allFruit.pkl
        catalog
        catalog.pkl
        some
        
        """
      bytes = Bytes(66, 105, 114, 100, 46, 112, 107, 108, 10, 97, 108, 108, 70, 114, 117, 105, 116, 46, 112, 107, 108, 10, 99, 97, 116, 97, 108, 111, 103, 10, 99, 97, 116, 97, 108, 111, 103, 46, 112, 107, 108, 10, 115, 111, 109, 101, 10)
    }
  }
}
