examples {
  ["literal"] {
    true
    false
  }
  ["conjunction"] {
    false
    false
    false
    "not short-circuited"
    "not short-circuited"
    "Operator `&&` is not defined for left operand type `Int`. Left operand: 1"
  }
  ["disjunction"] {
    true
    true
    true
    "not short-circuited"
    "not short-circuited"
    "Operator `||` is not defined for left operand type `Int`. Left operand: 0"
  }
  ["negation"] {
    false
    true
  }
  ["equality"] {
    true
    false
    false
    true
  }
  ["inequality"] {
    false
    true
    true
    false
  }
  ["xor()"] {
    false
    true
    true
    false
    false
    true
    true
    false
    "Cannot find method `xor` in class `Dynamic`."
    "Expected value of type `Boolean`, but got type `Dynamic`. Value: new Dynamic {}"
  }
  ["implies()"] {
    true
    false
    true
    true
    "not short-circuited"
  }
}
