examples {
  ["construction"] {
    1.b
    2.kb
    3.kib
    4.mb
    5.mib
    6.gb
    7.gib
    8.tb
    9.tib
    10.pb
    11.pib
    1.1.b
    2.2.kb
    3.3.kib
    4.4.mb
    5.5.mib
    6.6.gb
    7.7.gib
    8.8.tb
    9.9.tib
    10.1.pb
    11.11.pib
  }
  ["addition"] {
    6.kb
    5.5.kb
    4.953125.kib
    11.000000000000009.pib
    6.kb
    5.5.kb
    4.953125.kib
    11.000000000000009.pib
  }
  ["subtraction"] {
    -2.kb
    -1.0999999999999996.kb
    -1.046875.kib
    -10.999999999999991.pib
    2.kb
    1.0999999999999996.kb
    1.046875.kib
    10.999999999999991.pib
  }
  ["multiplication"] {
    6.kb
    6.6.kb
    6.6000000000000005.kb
    7.26.kb
    6.kb
    6.6.kb
    6.6000000000000005.kb
    7.26.kb
  }
  ["division"] {
    0.6666666666666666.kb
    0.6060606060606061.kb
    0.7333333333333334.kb
    0.6666666666666667.kb
    "Operator `/` is not defined for operand types `Int` and `DataSize`. Left operand : 3 Right operand: 2.kb"
    "Operator `/` is not defined for operand types `Float` and `DataSize`. Left operand : 3.3 Right operand: 2.kb"
    "Operator `/` is not defined for operand types `Int` and `DataSize`. Left operand : 3 Right operand: 2.2.kb"
    "Operator `/` is not defined for operand types `Float` and `DataSize`. Left operand : 3.3 Right operand: 2.3.kb"
  }
  ["division by data size"] {
    0.6666666666666666
    0.6060606060606061
    7.333333333333333E-4
    666666.6666666667
  }
  ["negation"] {
    -4.mb
    4.mb
    -4.mb
    -4.mb
    4.mb
    -4.mb
  }
  ["truncating division"] {
    1.kb
    2.kb
    2.kb
    1.kb
  }
  ["truncating division by data size"] {
    1
    2
    0
    1878787
  }
  ["power"] {
    8.kb
    9.849155306759329.kb
    10.648000000000003.kb
    13.489468760533386.kb
  }
}
