facts {
  ["pow"] {
    true
    true
    true
    true
    true
  }
  ["equality"] {
    true
    true
    true
    true
    true
  }
  ["inequality"] {
    true
    true
    true
    true
    true
  }
  ["greater than"] {
    true
    true
    true
  }
  ["less than"] {
    true
    true
    true
  }
  ["greater than or equal"] {
    true
    true
    true
  }
  ["less than or equal"] {
    true
    true
    true
  }
  ["underscores"] {
    true
    true
    true
    true
    true
    true
    true
  }
}
examples {
  ["literal"] {
    1.2345678912345679E8
    1.23456E9
    1.23456E-5
    -1.2345678912345679E8
    -1.23456E9
    -1.23456E-5
    4.9E-324
    1.7976931348623157E308
    1.2345678912345679E8
    1.1
    11.11
    1.23456E9
    1.23456E-5
    1.23456E12
    1.23456E-8
  }
  ["addition"] {
    3.3000000000000003
    3.2
  }
  ["subtraction"] {
    -1.0999999999999996
    -0.7999999999999998
  }
  ["multiplication"] {
    14.52
    13.200000000000001
  }
  ["division"] {
    0.8
    0.8800000000000001
  }
  ["integer division"] {
    1
    1
    1
    1
    1
  }
  ["remainder"] {
    5.5
    5.0
  }
  ["negation"] {
    -1.2
    -1.2
  }
  ["power"] {
    27.98409999999999
    1.0
    0.03573457784956459
    1.0
    1.0
    1.0
    0.0
    1.0
    -1.0
    Infinity
    1.0
    -1.0
    0.0
    1.0
    1.0
    Infinity
    1.0
    1.0
    0.0
    1.0
    1.0
    Infinity
    1.0
    1.0
    1.7014118346046923E38
    Infinity
    Infinity
    Infinity
    Infinity
    -1.7014118346046923E38
    -Infinity
    -Infinity
    Infinity
    Infinity
    1.0
    1.7976931348623157E308
    Infinity
  }
}
