examples {
  ["basic"] {
    1
    3
  }
  ["non-boolean condition"] {
    "Expected value of type `Boolean`, but got type `String`. Value: \"\""
    "Expected value of type `Boolean`, but got type `Int`. Value: 0"
    "Expected value of type `Boolean`, but got `null`."
  }
}
