facts {
  ["equality"] {
    true
    true
    true
  }
  ["inequality"] {
    true
    true
    true
  }
  ["underscore - digits"] {
    true
    true
    true
    true
    true
    true
  }
  ["underscore - hex"] {
    true
    false
    true
    true
  }
  ["underscore - binary"] {
    true
    true
    true
    true
  }
  ["underscore - octal"] {
    true
    true
    true
    true
    true
  }
}
examples {
  ["literal"] {
    42
    42
    123456789123456789
    -42
    -42
    -123456789123456789
    -9223372036854775808
    9223372036854775807
    1000
    1000000
    1
    11
    10000
    -10000
  }
  ["hex literal"] {
    66
    81985529216486895
    81985529216486895
    81985529216486895
    81985529216486895
    66
    -81985529216486895
    -81985529216486895
    -81985529216486895
    -81985529216486895
    286348008978
    65
    1433
    -1433
  }
  ["binary literal"] {
    45
    45
    -45
    -45
    182
    6
    2
    -1
  }
  ["octal literal"] {
    342391
    16434824
    -342391
    -16434824
    2739128
    2423
    56
    -7
    420
    493
  }
  ["addition"] {
    3
    3
  }
  ["subtraction"] {
    -1
    -1
  }
  ["multiplication"] {
    12
    12
  }
  ["division"] {
    1.3333333333333333
    1.3333333333333333
  }
  ["integer division"] {
    1
    1
  }
  ["remainder"] {
    5
    5
  }
  ["negation"] {
    -1
    -2
    -3
    -4
  }
  ["power"] {
    16
    1
    0.0625
    1
    1
    1
    0
    1
    -1
    Infinity
    1.0
    -1.0
    0
    1
    1
    Infinity
    1.0
    1.0
    0
    1
    -1
    Infinity
    1.0
    1.0
    "Integer overflow."
    "Integer overflow."
    "Integer overflow."
    "Integer overflow."
    "Integer overflow."
    "Integer overflow."
    "Integer overflow."
    "Integer overflow."
    1
    9223372036854775807
    "Integer overflow."
    true
    true
    true
    true
    true
  }
}
