res1 = 43
res2 = 43
res3 = 4
res4 = 4
res5 {
  lowestPrice = 400
  averagePrice {
    500
  }
  highestPrice {
    ["price"] = 600
  }
}
res6 = "Pigeon"
res7 = "Pigeon"
res8 = 9
res9 = 9
res10 = 5
res11 = List(3, 4, 5, 6, 7)
res12 {
  x = 4
  y = 6
  z = 6
}
res13 = 3
res14 = "Cannot find property `y`."
res15 = "ouch"
res16 = "ouch"
res17 = "ouch"
res18 = "ouch"
res19 = true
