p3 = "original"
c1 = "original"
c2 = "original"
c3 = "original"
pp1 = "original"
pp2 = "original"
pp3 = "original"
ff1 = "original"
ff2 = "original"
ff3 = "original"
foo {
  c1 = "original"
  c2 = "original"
  c3 = "original"
  pp1 = "original"
  pp2 = "original"
  pp3 = "original"
  ff1 = "original"
  ff2 = "original"
  ff3 = "original"
}
