res1 = 1
res2 = 43
res3 = 64
foo1 {
  res4 = 1
  res5 = 43
  res6 = 64
  bar1 {
    res7 = 1
    res8 = 43
    res9 = 64
    baz1 {
      res10 = 1
      res11 = 43
      res12 = 64
    }
  }
}
foo2 {
  res13 = 2
  res14 = 44
  res15 = 65
  bar2 {
    res16 = 2
    res17 = 44
    res18 = 65
    baz2 {
      res19 = 2
      res20 = 44
      res21 = 65
    }
  }
}
foo3 {
  res22 = 1
  res23 = 43
  res24 = 64
  bar3 {
    res25 = 3
    res26 = 45
    res27 = 66
    baz3 {
      res28 = 3
      res29 = 45
      res30 = 66
    }
  }
}
foo4 {
  res22 = 1
  res23 = 43
  res24 = 64
  bar4 {
    res25 = 1
    res26 = 43
    res27 = 64
    baz4 {
      res28 = 4
      res29 = 46
      res30 = 67
    }
  }
}
