c {
  res1 = 42
  res2 = "Expected value of type `Int`, but got type `String`. Value: \"foo\""
  res3 = List("foo", "bar")
  res4 = "Expected value of type `String`, but got type `Int`. Value: 42"
  res6 {
    x = 10
  }
  res7 = 42
  res8 = "Expected value of type `Int`, but got type `String`. Value: \"foo\""
  res9 = "Expected value of type `String`, but got type `Int`. Value: 42"
  res10 = 2
  res11 = "Expected value of type `String`, but got type `Int`. Value: 42"
}
