p3 = "original"
c1 = "original"
c2 = "original"
c3 = "original"
pp1 = "original"
pp2 = "original"
pp3 = "original"
ff1 = "original"
ff2 = "original"
ff3 = "original"
foo {
  c1 = "original"
  c2 = "original"
  c3 = "original"
  pp1 = "original"
  pp2 = "original"
  pp3 = "original"
  ff1 = "original"
  ff2 = "original"
  ff3 = "original"
}
p2 = "override"
res1 = "original"
res2 = "original"
res3 = "original"
res4 = "original"
res5 = "original"
res6 = "original"
res7 = "original"
res8 = "original"
res9 = "original"
res10 = "original"
res11 = "original"
res12 = "original"
res13 = "original"
res14 = "original"
res15 = "original"
res16 = "original"
res17 = "original"
res18 = "original"
