foo1 {
  x = "original"
}
foo2 {
  x = "original"
}
res1 = "original"
foo3 {
  x = "original"
}
foo4 {
  x = "original"
  l = "override"
}
res2 = "original"
foo5 {
  l = "original"
  x = "original"
}
foo6 {
  l = "original"
  x = "original"
}
res3 = "original"
