facts {
  ["equality"] {
    true
    true
    true
  }
  ["inequality"] {
    true
    true
    true
  }
}
examples {
  ["literal"] {
    null
  }
  ["coalescing"] {
    2
    1
    1
    3
    40
  }
  ["null-safe invocation"] {
    null
    "PIGEON"
    null
    3.kb
    "Cannot find property `foo` in object of type `Null`."
    "Cannot find method `foo` in class `Null`."
  }
  ["amendment"] {
    new {
      age = 20
    }
    true
  }
}
