examples {
  ["file:"] {
    new {
      ["../../input-helper/globtest/module with [weird] ~!characters.pkl"] {
        uri = "file:///$snippetsDir/input-helper/globtest/module%20with%20%5Bweird%5D%20~!characters.pkl"
        text = ""
        base64 = ""
      }
      ["../../input-helper/globtest/moduleA.pkl"] {
        uri = "file:///$snippetsDir/input-helper/globtest/moduleA.pkl"
        text = """
          name = "moduleA"
          
          """
        base64 = "bmFtZSA9ICJtb2R1bGVBIgo="
      }
      ["../../input-helper/globtest/moduleB.pkl"] {
        uri = "file:///$snippetsDir/input-helper/globtest/moduleB.pkl"
        text = """
          name = "moduleB"
          
          """
        base64 = "bmFtZSA9ICJtb2R1bGVCIgo="
      }
      ["../../input-helper/globtest/child/moduleC.pkl"] {
        uri = "file:///$snippetsDir/input-helper/globtest/child/moduleC.pkl"
        text = """
          name = "child/moduleC"
          
          """
        base64 = "bmFtZSA9ICJjaGlsZC9tb2R1bGVDIgo="
      }
    }
    new {
      ["globtest/file1.txt"] {
        uri = "file:///$snippetsDir/input/basic/globtest/file1.txt"
        text = """
          file1
          
          """
        base64 = "ZmlsZTEK"
      }
      ["globtest/file2.txt"] {
        uri = "file:///$snippetsDir/input/basic/globtest/file2.txt"
        text = """
          file2
          
          """
        base64 = "ZmlsZTIK"
      }
    }
  }
  ["env:"] {
    new {
      ["env:NAME1"] = "value1"
      ["env:NAME2"] = "value2"
      ["env:foo%20bar"] = "foo bar"
    }
    new {
      ["env:/foo/bar"] = "foobar"
      ["env:NAME1"] = "value1"
      ["env:NAME2"] = "value2"
      ["env:file:///foo/bar"] = "file:///foo/bar"
      ["env:foo%20bar"] = "foo bar"
    }
    new {
      ["env:NAME1"] = "value1"
    }
    new {
      ["env:NAME1"] = "value1"
      ["env:NAME2"] = "value2"
    }
    new {
      ["env:NAME2"] = "value2"
    }
    new {
      ["env:/foo/bar"] = "foobar"
    }
    new {
      ["env:foo%20bar"] = "foo bar"
    }
    new {
      ["env:foo%20bar"] = "foo bar"
    }
  }
  ["prop:"] {
    new {
      ["prop:name1"] = "value1"
      ["prop:name2"] = "value2"
    }
    new {
      ["prop:/foo/bar"] = "foobar"
      ["prop:name1"] = "value1"
      ["prop:name2"] = "value2"
    }
  }
  ["package:"] {
    new {
      ["package://localhost:0/birds@0.5.0#/Bird.pkl"] {
        uri = "package://localhost:0/birds@0.5.0#/Bird.pkl"
        text = """
          open module birds.Bird
          
          import "@fruities/Fruit.pkl"
          
          name: String
          
          favoriteFruit: Fruit
          
          """
        base64 = "b3BlbiBtb2R1bGUgYmlyZHMuQmlyZAoKaW1wb3J0ICJAZnJ1aXRpZXMvRnJ1aXQucGtsIgoKbmFtZTogU3RyaW5nCgpmYXZvcml0ZUZydWl0OiBGcnVpdAo="
      }
      ["package://localhost:0/birds@0.5.0#/allFruit.pkl"] {
        uri = "package://localhost:0/birds@0.5.0#/allFruit.pkl"
        text = """
          module birds.allFruit
          
          fruit = import*("@fruities/catalog/*.pkl")
          fruitFiles = read*("@fruities/catalog/*.pkl")
          
          """
        base64 = "bW9kdWxlIGJpcmRzLmFsbEZydWl0CgpmcnVpdCA9IGltcG9ydCooIkBmcnVpdGllcy9jYXRhbG9nLyoucGtsIikKZnJ1aXRGaWxlcyA9IHJlYWQqKCJAZnJ1aXRpZXMvY2F0YWxvZy8qLnBrbCIpCg=="
      }
      ["package://localhost:0/birds@0.5.0#/catalog.pkl"] {
        uri = "package://localhost:0/birds@0.5.0#/catalog.pkl"
        text = """
          module birds.catalog
          
          catalog = import*("catalog/*.pkl")
          catalogFiles = read*("catalog/*.pkl")
          
          """
        base64 = "bW9kdWxlIGJpcmRzLmNhdGFsb2cKCmNhdGFsb2cgPSBpbXBvcnQqKCJjYXRhbG9nLyoucGtsIikKY2F0YWxvZ0ZpbGVzID0gcmVhZCooImNhdGFsb2cvKi5wa2wiKQo="
      }
      ["package://localhost:0/birds@0.5.0#/catalog/Ostritch.pkl"] {
        uri = "package://localhost:0/birds@0.5.0#/catalog/Ostritch.pkl"
        text = """
          amends "../Bird.pkl"
          
          name = "Ostritch"
          
          favoriteFruit {
            name = "Orange"
          }
          
          """
        base64 = "YW1lbmRzICIuLi9CaXJkLnBrbCIKCm5hbWUgPSAiT3N0cml0Y2giCgpmYXZvcml0ZUZydWl0IHsKICBuYW1lID0gIk9yYW5nZSIKfQo="
      }
      ["package://localhost:0/birds@0.5.0#/catalog/Swallow.pkl"] {
        uri = "package://localhost:0/birds@0.5.0#/catalog/Swallow.pkl"
        text = """
          amends "../Bird.pkl"
          
          import "@fruities/catalog/apple.pkl"
          
          name = "Swallow"
          
          favoriteFruit = apple
          
          """
        base64 = "YW1lbmRzICIuLi9CaXJkLnBrbCIKCmltcG9ydCAiQGZydWl0aWVzL2NhdGFsb2cvYXBwbGUucGtsIgoKbmFtZSA9ICJTd2FsbG93IgoKZmF2b3JpdGVGcnVpdCA9IGFwcGxlCg=="
      }
      ["package://localhost:0/birds@0.5.0#/some/dir/Bird.pkl"] {
        uri = "package://localhost:0/birds@0.5.0#/some/dir/Bird.pkl"
        text = """
          amends "..."
          
          name = "Bird"
          
          favoriteFruit {
            name = "Fruit"
          }
          
          """
        base64 = "YW1lbmRzICIuLi4iCgpuYW1lID0gIkJpcmQiCgpmYXZvcml0ZUZydWl0IHsKICBuYW1lID0gIkZydWl0Igp9Cg=="
      }
    }
  }
  ["non-constant glob pattern"] {
    new {
      ["globtest/file1.txt"] {
        uri = "file:///$snippetsDir/input/basic/globtest/file1.txt"
        text = """
          file1
          
          """
        base64 = "ZmlsZTEK"
      }
      ["globtest/file2.txt"] {
        uri = "file:///$snippetsDir/input/basic/globtest/file2.txt"
        text = """
          file2
          
          """
        base64 = "ZmlsZTIK"
      }
    }
    new {
      ["globtest/file1.txt"] {
        uri = "file:///$snippetsDir/input/basic/globtest/file1.txt"
        text = """
          file1
          
          """
        base64 = "ZmlsZTEK"
      }
    }
    new {
      ["globtest/file2.txt"] {
        uri = "file:///$snippetsDir/input/basic/globtest/file2.txt"
        text = """
          file2
          
          """
        base64 = "ZmlsZTIK"
      }
    }
  }
}
