examples {
  ["read env variable"] {
    "value1"
    "value2"
    "Cannot find resource `env:OTHER`."
    "value1"
    "value2"
    null
  }
  ["read external property"] {
    "value1"
    "value2"
    "Cannot find resource `prop:other`."
    "value1"
    "value2"
    null
  }
  ["read file"] {
    new {
      uri = "file:///$snippetsDir/input/basic/read.pkl"
      text = """
        amends "../snippetTest.pkl"
        
        examples {
          ["read env variable"] {
            read("env:NAME1")
            read("env:NAME2")
            module.catch(() -> read("env:OTHER"))
        
            read?("env:NAME1")
            read?("env:NAME2")
            read?("env:OTHER")
          }
        
          ["read external property"] {
            read("prop:name1")
            read("prop:name2")
            module.catch(() -> read("prop:other"))
        
            read?("prop:name1")
            read?("prop:name2")
            read?("prop:other")
          }
        
          ["read file"] {
            read("read.pkl")
            module.catch(() -> read("other.txt"))
            read?("read.pkl")
            read?("other.txt")
          }
        
          ["read non-allowed resource"] {
            module.catch(() -> read("forbidden:resource"))
            module.catch(() -> read?("forbidden:resource"))
          }
        }
        
        """
      base64 = "YW1lbmRzICIuLi9zbmlwcGV0VGVzdC5wa2wiCgpleGFtcGxlcyB7CiAgWyJyZWFkIGVudiB2YXJpYWJsZSJdIHsKICAgIHJlYWQoImVudjpOQU1FMSIpCiAgICByZWFkKCJlbnY6TkFNRTIiKQogICAgbW9kdWxlLmNhdGNoKCgpIC0+IHJlYWQoImVudjpPVEhFUiIpKQoKICAgIHJlYWQ/KCJlbnY6TkFNRTEiKQogICAgcmVhZD8oImVudjpOQU1FMiIpCiAgICByZWFkPygiZW52Ok9USEVSIikKICB9CgogIFsicmVhZCBleHRlcm5hbCBwcm9wZXJ0eSJdIHsKICAgIHJlYWQoInByb3A6bmFtZTEiKQogICAgcmVhZCgicHJvcDpuYW1lMiIpCiAgICBtb2R1bGUuY2F0Y2goKCkgLT4gcmVhZCgicHJvcDpvdGhlciIpKQoKICAgIHJlYWQ/KCJwcm9wOm5hbWUxIikKICAgIHJlYWQ/KCJwcm9wOm5hbWUyIikKICAgIHJlYWQ/KCJwcm9wOm90aGVyIikKICB9CgogIFsicmVhZCBmaWxlIl0gewogICAgcmVhZCgicmVhZC5wa2wiKQogICAgbW9kdWxlLmNhdGNoKCgpIC0+IHJlYWQoIm90aGVyLnR4dCIpKQogICAgcmVhZD8oInJlYWQucGtsIikKICAgIHJlYWQ/KCJvdGhlci50eHQiKQogIH0KCiAgWyJyZWFkIG5vbi1hbGxvd2VkIHJlc291cmNlIl0gewogICAgbW9kdWxlLmNhdGNoKCgpIC0+IHJlYWQoImZvcmJpZGRlbjpyZXNvdXJjZSIpKQogICAgbW9kdWxlLmNhdGNoKCgpIC0+IHJlYWQ/KCJmb3JiaWRkZW46cmVzb3VyY2UiKSkKICB9Cn0K"
    }
    "Cannot find resource `other.txt`."
    new {
      uri = "file:///$snippetsDir/input/basic/read.pkl"
      text = """
        amends "../snippetTest.pkl"
        
        examples {
          ["read env variable"] {
            read("env:NAME1")
            read("env:NAME2")
            module.catch(() -> read("env:OTHER"))
        
            read?("env:NAME1")
            read?("env:NAME2")
            read?("env:OTHER")
          }
        
          ["read external property"] {
            read("prop:name1")
            read("prop:name2")
            module.catch(() -> read("prop:other"))
        
            read?("prop:name1")
            read?("prop:name2")
            read?("prop:other")
          }
        
          ["read file"] {
            read("read.pkl")
            module.catch(() -> read("other.txt"))
            read?("read.pkl")
            read?("other.txt")
          }
        
          ["read non-allowed resource"] {
            module.catch(() -> read("forbidden:resource"))
            module.catch(() -> read?("forbidden:resource"))
          }
        }
        
        """
      base64 = "YW1lbmRzICIuLi9zbmlwcGV0VGVzdC5wa2wiCgpleGFtcGxlcyB7CiAgWyJyZWFkIGVudiB2YXJpYWJsZSJdIHsKICAgIHJlYWQoImVudjpOQU1FMSIpCiAgICByZWFkKCJlbnY6TkFNRTIiKQogICAgbW9kdWxlLmNhdGNoKCgpIC0+IHJlYWQoImVudjpPVEhFUiIpKQoKICAgIHJlYWQ/KCJlbnY6TkFNRTEiKQogICAgcmVhZD8oImVudjpOQU1FMiIpCiAgICByZWFkPygiZW52Ok9USEVSIikKICB9CgogIFsicmVhZCBleHRlcm5hbCBwcm9wZXJ0eSJdIHsKICAgIHJlYWQoInByb3A6bmFtZTEiKQogICAgcmVhZCgicHJvcDpuYW1lMiIpCiAgICBtb2R1bGUuY2F0Y2goKCkgLT4gcmVhZCgicHJvcDpvdGhlciIpKQoKICAgIHJlYWQ/KCJwcm9wOm5hbWUxIikKICAgIHJlYWQ/KCJwcm9wOm5hbWUyIikKICAgIHJlYWQ/KCJwcm9wOm90aGVyIikKICB9CgogIFsicmVhZCBmaWxlIl0gewogICAgcmVhZCgicmVhZC5wa2wiKQogICAgbW9kdWxlLmNhdGNoKCgpIC0+IHJlYWQoIm90aGVyLnR4dCIpKQogICAgcmVhZD8oInJlYWQucGtsIikKICAgIHJlYWQ/KCJvdGhlci50eHQiKQogIH0KCiAgWyJyZWFkIG5vbi1hbGxvd2VkIHJlc291cmNlIl0gewogICAgbW9kdWxlLmNhdGNoKCgpIC0+IHJlYWQoImZvcmJpZGRlbjpyZXNvdXJjZSIpKQogICAgbW9kdWxlLmNhdGNoKCgpIC0+IHJlYWQ/KCJmb3JiaWRkZW46cmVzb3VyY2UiKSkKICB9Cn0K"
    }
    null
  }
  ["read non-allowed resource"] {
    "Refusing to read resource `forbidden:resource` because it does not match any entry in the resource allowlist (`--allowed-resources`)."
    "Refusing to read resource `forbidden:resource` because it does not match any entry in the resource allowlist (`--allowed-resources`)."
  }
}
