facts {
  ["equality"] {
    true
    true
    true
    true
    true
    true
    true
  }
  ["equality -- nullable gets erased"] {
    true
  }
  ["equality -- constraint gets erased"] {
    true
  }
  ["inequality"] {
    true
  }
  ["set deduplication"] {
    true
    true
    true
  }
}
