facts {
  ["equality"] {
    true
    true
    true
    true
    true
    true
  }
  ["inequality"] {
    true
    true
    true
    true
    true
    true
  }
}
examples {
  ["construction"] {
    Set(1, 2, 3, 4)
  }
  ["addition"] {
    Set(1, "two", 3)
    Set(1, "two", 3)
    Set(1, "two", 3, 4)
    Set(1, "two", 3)
    Set(1, "two", 3)
    Set(1, "two", 3, 4)
    Set(1, "two", 3, 4)
    Set()
    Set(1, "two", 3)
    Set(1, "two", 4)
    Set()
    Set(1, "two", 3)
    Set(1, "two", 4)
  }
}
