examples {
  ["interpolation"] {
    """
    How are you today?
    Are you hungry?
    
    Can you nest this for me?
    """
  }
  ["escaping"] {
    "\\\"\\("
    """
    \t\r
    
    """
    "\t0Āက𐀀𐀀𐀀𐀀"
  }
  ["dollar sign has no special meaning"] {
    "123$ $123 $&% $"
  }
  ["trimming of leading and trailing newlines"] {
    "leading and trailing newline trimmed"
    """
    
    leading newline not trimmed
    """
    """
    
    
    
    leading newlines not trimmed
    """
    """
    trailing newline not trimmed
    
    """
    """
    trailing newlines not trimmed
    
    
    
    """
  }
  ["trimming of leading whitespace"] {
    """
    leading
    whitespace
    trimmed
    """
    """
      leading
      whitespace
      partially
      trimmed
    """
    """
    leading
      whitespace
        partially
          trimmed
    """
  }
  ["quotes"] {
    "\"AS IS\""
    "\"\"AS IS\"\""
    "\"AS IS\""
    "\"\"AS IS\"\""
    """
    trailing newline not trimmed (trailing quotes)
    ""
    """
    """
    trailing newline with interpolated string not trimmed (trailing quotes)
    ""
    """
  }
}
