l1 = 3
f1 = 11
foo {
  0
  0
}
foo2 {
  0
  0
}
bar {
  ["a1"] = 1
  ["b1"] = 1
  ["a2"] = 2
  ["b2"] = 2
}
baz {
  ["aa"] = "a"
  ["ab"] = "a"
  ["ba"] = "b"
  ["bb"] = "b"
}
qux {
  ["11"] = 2
  ["12"] = 3
  ["21"] = 3
  ["22"] = 4
}
bird1 {
  bird {
    name = "Swallow"
    age = 2
  }
}
bird2 {
  bird {
    name = "Robin"
    age = 3
  }
}
var = 0
