x {
  foo {
    bar {
      num1 = 1
      num2 = 2
    }
    baz {
      num3 = 3
    }
  }
}
y {
  foo {
    bar {
      num1 = 11
      num2 = 2
      str = "str"
    }
    baz {
      num3 = 3
    }
    baz2 {
      num4 = 4
    }
  }
}
