a1 = true
a2 = true
a3 = true
a4 = true
a5 = false
a6 = false
a7 = false
a8 = true
a9 = true
a10 = true
a11 = true
b1 = true
b2 = true
b3 = true
b4 = true
b5 = true
b6 = true
b7 = false
b8 = false
c1 = false
c2 = false
c3 = true
c4 = false
c5 = true
c6 = false
c7 = true
c8 = true
d1 = true
d2 = true
d3 = true
d4 = true
e1 = true
e2 = true
e3 = true
