facts {
  ["local members aren't included in hash code - Dynamic"] {
    true
    true
    true
    true
  }
  ["local members aren't included in hash code - Typed"] {
    true
    true
    true
    true
  }
  ["hidden members aren't included in hash code - Dynamic"] {
    true
    true
    true
  }
  ["hidden members aren't included in hash code - Typed"] {
    true
    true
    true
  }
  ["hidden members of superclass aren't included in hash code - Typed"] {
    true
  }
}
