res1 = false
res2 = false
res3 = false
res4 = false
res5 = true
res6 = true
res7 = true
res8 = false
res9 = false
res10 = false
res11 = false
res12 = false
res13 = false
res14 = true
res15 = true
res16 = true
res17 = true
res18 = false
res19 = true
res20 = false
res21 = true
res22 = false
res23 = false
res24 = false
res25 = false
res26 = false
res27 = false
res28 = false
