res1 {
  ["Pigeon"] {
    name = "Pigeon"
    age = 42
  }
  ["Barn Owl"] {
    name = "Barn Owl"
    age = 99
  }
  ["Parrot"] {
    name = "Parrot"
    age = 33
  }
}
res2 {
  ["Pigeon"] {
    name = "Pigeon"
    age = 99
  }
  ["Barn Owl"] {
    name = "Barn Owl"
    age = 99
  }
  ["Parrot"] {
    name = "Parrot"
    age = 33
  }
}
res3 {
  ["Pigeon"] {
    name = "Pigeon"
    age = 99
  }
  ["Barn Owl"] {
    name = "Barn Owl"
    age = 99
  }
  ["Parrot"] {
    name = "Parrot"
    age = 99
  }
}
res4 {
  ["Pigeon"] {
    name = "Pigeon"
    age = 42
  }
  ["Barn Owl"] {
    name = "Barn Owl"
    age = 21
  }
  ["Parrot"] {
    name = "Parrot"
    age = 33
  }
}
res5 {
  barnOwl = "Barn Owl"
  new {
    result {
      ["Pigeon"] {
        name = "Pigeon"
        age = 42
      }
      ["Barn Owl"] {
        name = "Barn Owl"
        age = 99
      }
      ["Parrot"] {
        name = "Parrot"
        age = 33
      }
    }
  }
}
res6 {
  ["Pigeon"] {
    name = "Pigeon"
    age = 42
  }
  ["Barn Owl"] {
    name = "Barn Owl"
    age = 55
  }
  ["Parrot"] {
    name = "Parrot"
    age = 33
  }
}
res7 {
  ["Pigeon"] {
    name = "Pigeon"
    age = 42
  }
  ["Barn Owl"] {
    name = "Barn Owl"
    age = 21
  }
  ["Parrot"] {
    name = "Parrot"
    age = 33
  }
  ["Albatross"] {
    name = "Albatross"
    age = 4
  }
}
res8 {
  ["Pigeon"] {
    name = "Pigeon"
    age = 42
  }
  ["Barn Owl"] {
    name = "Barn Owl"
    age = 21
  }
  ["Parrot"] {
    name = "Parrot"
    age = 33
  }
  ["Albatross"] {
    name = "Albatross"
    age = 4
  }
}
res9 = "Duplicate definition of member `\"Pigeon\"`."
res10 = "Duplicate definition of member `\"Pigeon\"`."
res11 {
  ["Pigeon"] {
    name = "Pigeon"
    age = 99
  }
  ["Barn Owl"] {
    name = "Barn Owl"
    age = 21
  }
  ["Parrot"] {
    name = "Parrot"
    age = 99
  }
}
res12 {
  ["Pigeon"] {
    name = "Pigeon"
    age = 122
  }
  ["Barn Owl"] {
    name = "Barn Owl"
    age = 21
  }
  ["Parrot"] {
    name = "Parrot"
    age = 33
  }
}
