facts {
  ["length"] {
    true
  }
  ["equality"] {
    true
  }
}
examples {
  ["inferred Dynamic parent"] {
    new {
      1
      2
      3
    }
    new {
      ["a"] = 1
      ["b"] = 2
      1
      2
      3
      foo = "foo"
      bar = "bar"
      ["foo"] = 0
      ["bar"] = 1
      1
      2
      3
      1
      2
      3
      ["zz"] = 1
      ["yy"] = 2
      0
      2
      4
      10
      20
      30
    }
  }
  ["explicit Dynamic type"] {
    new {
      1
      2
      3
    }
    new {
      ["a"] = 1
      ["b"] = 2
      1
      2
      3
      foo = "foo"
      bar = "bar"
      ["foo"] = 0
      ["bar"] = 1
      1
      2
      3
      1
      2
      3
      ["zz"] = 1
      ["yy"] = 2
      0
      2
      4
      10
      20
      30
    }
  }
  ["legacy syntax"] {
    new {
      foo = "foo"
      bar = "bar"
      ["foo"] = 0
      ["bar"] = 1
      1
      2
      3
    }
    new {
      1
      2
      3
    }
    new {
      1
      2
      3
    }
    new {
      ["zz"] = 1
      ["yy"] = 2
    }
    new {
      0
      2
      4
    }
    new {
      10
      20
      30
    }
  }
}
