res1 {
  0
  1
  2
  3
  4
  5
  6
}
res2 = true
res3 {
  0
  1
  2
  3
  4
  5
  6
  1
  2
  3
}
res4 {
  1
  2
  3
  1
  2
  3
  1
  2
  3
  1
  2
  3
}
res5 = "Cannot find property `d1`."
res6 = "Expected value of type `String`, but got type `Int`. Value: 1"
res7 = "Cannot spread object containing entries into object of type `Listing`."
res8 {
  1
  2
  3
  4
  5
  6
}
res9 {
  1
  2
  3
  1
  2
  3
  1
  2
  3
}
res10 {
  1
  2
  3
  1
  2
  3
  1
  2
  3
  10
  11
  1
  2
  3
}
res11 {
  0
  2
  4
}
res12 {
  1
  2
  3
}
res13 = "Cannot spread value of type `Map` into object of type `Listing`. Value: Map(\"a\", 1, \"b\", 2)"
res14 {
  10
  20
  30
}
res15 {
  1
  2
  3
}
res16 {
  0
  1
  2
  3
  0
  0
  0
}
res17 = 7
