examples {
  ["all env vars come from settings"] {
    new {
      ["env:one"] = "1"
    }
  }
  ["all props come from settings"] {
    new {
      ["prop:two"] = "2"
    }
  }
  ["cannot import modulepath because it is not allowed"] {
    "Refusing to load module `modulepath:/org/pkl/core/stdlib/release.pkl` because it does not match any entry in the module allowlist (`--allowed-modules`)."
    "Refusing to read resource `modulepath:/org/pkl/core/brokenModule1.pkl` because it does not match any entry in the resource allowlist (`--allowed-resources`)."
  }
}
